<h2>Review <small><%=link_to "Deja un comentario", new_restaurant_review_path(@restaurant)%></small></h2>
<%= @restaurant.reviews.each do |review| %>
<p><%= @review.content %></p>
<p><%= @review.ratinsg %></p>
<%= end"%>